# ENV

# Important
DEBUG=false
SECRET_KEY="p68)e3c6@(g0pba1lsvorqt*mc17vhg*u#pcn+xcl=pt=5&r72"
API_VERSION=1
API_PREFIX="api/v"

# Core
URL_LIFESPAN_HOURS=24

# Validators
ALLOWED_HOSTS=localhost,localhost:8000,127.0.0.1,127.0.0.1:8000
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000,http://localhost:8000"

# CORS
CORS_ALLOWED_ORIGINS="http://127.0.0.1:8000,http://localhost:8000"
CORS_ALLOW_ALL_ORIGINS=false

# Misc
LANGUAGE_CODE=en-us
TIME_ZONE=UTC

# Logging
LOGS_DIR=logs
CORE_LOG_FILENAME=core.log
ERROR_LOG_FILENAME=error.log
DEBUG_LOG_FILENAME=debug.log

# JWT
ACCESS_TOKEN_LIFETIME_DAYS=1
REFRESH_TOKEN_LIFETIME_DAYS=15

# Password
USER_PASSWORD_MIN_LEN=8
USER_PASSWORD_UPPER_AND_LOWER_REQUIRED=true
USER_PASSWORD_NUMERIC_REQUIRED=true
USER_PASSWORD_SPECIAL_CHAR_REQUIRED=true
