# ENV
MONGODB_HOST=url_shortener_mongo_prod
MONGODB_PORT=27017

# To be accessed in Application
MONGODB_USERNAME=urlshortener
MONGODB_PASSWORD=urlshortener

# To be created in Docker container
MONGO_INITDB_ROOT_USERNAME=urlshortener
MONGO_INITDB_ROOT_PASSWORD=urlshortener

# To be accessed in Application
MONGODB_DB_NAME=urlshortener

# To be created in Docker container
MONGO_INITDB_DATABASE=urlshortener

MONGODB_TLS=false
MONGODB_CONNECTION_TIMEOUT_SECONDS=5
MONGODB_MIN_CONNECTION_POOL_SIZE=1
MONGODB_MAX_CONNECTION_POOL_SIZE=100

MONGODB_USERS_COLLECTION_NAME=auth_users
MONGODB_URLS_COLLECTION_NAME=shortened_urls

