# ENV
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USERNAME=urlshortener
MONGODB_PASSWORD=urlshortener
MONGODB_DB_NAME=urlshortener

MONGODB_TLS=false
MONGODB_CONNECTION_TIMEOUT_SECONDS=5
MONGODB_MIN_CONNECTION_POOL_SIZE=1
MONGODB_MAX_CONNECTION_POOL_SIZE=100

MONGODB_USERS_COLLECTION_NAME=auth_users
MONGODB_URLS_COLLECTION_NAME=shortened_urls
